@font-face {
    font-family: 'Luckiest Guy';
    src: url('../static/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.Header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
    user-select: none;
}

.WNF-Title {
    font-family: 'Luckiest Guy';
    font-size: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: min-content;
    margin-right: auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.header-title-and-icon {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.dropdown.open {
    display: flex;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.disconnect {
    color: red;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 5px 0;
}

.header.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
} 