@font-face {
    font-family: 'Luckiest Guy';
    src: url('../static/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.Main-Indentifier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.Main-Title {
    color: white;
    font-family: 'Luckiest Guy';
    font-size: 40px;
    letter-spacing: 1px;
    cursor: default;
    padding: 0;
    margin: 0;
}

.Subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    padding: 0;
    margin: 0;
}

.Welcome-Title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    cursor: default;
    padding: 0;
    margin: 0;
}

.Inustructions {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 100;
    height: min-content;
    width: 350px;
    cursor: default;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding-bottom: 15px;
}

.Text-Input {
    width: 500px;
    height: 75px;
    background-color: transparent;
    border: solid;
    border-color: #606060;
    border-radius: 24px;
}

.Text-Input[type=text]{
    font-size: 16px;
    padding-left: 50px;
    color: white;
}

.Password-Input {
    width: 500px;
    height: 75px;
    background-color: transparent;
    border: solid;
    border-color: #606060;
    border-radius: 24px;
}

.Password-Input[type=password]{
    font-size: 16px;
    padding-left: 50px;
    color: #606060;
}

label {
    position: absolute;
    color: #606060;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
    cursor: default;
    transform: translateX(35px) translateY(30px);
}

.Submit-Button {
    width: 550px;
    height: 60px;
    background-color: #3B57E6;
    border-radius: 15px;
    color: white;
}

.Text-switch-To-Indentifier {
    color: #606060;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 100;
    cursor: default;
    padding: 0;
    margin: 0;
}

.Switch-To-Identifier {
    color: white;
    font-weight: 200;
    cursor: pointer
}