.settings-page {
    padding-left: 150px;
    padding-top: 25px;
    margin-top: 50px;
}

.settings-page__username {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: #ADADAD;
}

.settings-page__title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

.settings-page__divider {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.settings-page__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.settings-page__form-title {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
}

.settings-page__form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.settings-page__input {
    width: 500px;
    height: 75px;
    border: solid;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 12px;
    color: white;
}

.settings-page__submit-button {
    align-self: flex-end;
    width: 230px;
    height: 55px;
    border: none;
    background-color: #3B57E6;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.settings-page__input[type=password]{
    font-size: 16px;
    padding-left: 50px;
    color: #606060;
}

.settings-page__input[type=text]{
    font-size: 16px;
    padding-left: 50px;
    color: #ffffff;
}

.settings-page__input[type=email]{
    font-size: 16px;
    padding-left: 50px;
    color: #ffffff;
}

.settings-page__submit-button--last {
    margin-bottom: 150px;
}